.bg{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    /* background-image: linear-gradient(-45deg, rgba(251, 255, 38, 0.83) 0%, rgb(255, 94, 0) 25% ,rgba(255, 181, 97, 0.774) 51%, rgb(59, 51, 41)); */
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
}
.bg1{
    width: 100%;
    border:2px solid white ;
    background-color: black;
    /* background-image: linear-gradient(-45deg, rgba(124, 24, 255, 0.83) 0%, rgb(189, 22, 255) 25% ,rgb(190, 25, 255) 51%, rgb(255, 33, 207)); */
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG{

0%{
    background-position: 0% 50%;
}
50%{
    background-position: 100% 50%;
}
100%{
    background-position: 0% 50%;
}
}
@keyframes AnimateBG{

    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    }
    